* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 100vw;
  margin: 20px 100px;
}
.button {
  background-color: #469065;
  color: white;
  padding: 10px 15px;
  border: 1px solid #469065;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.green {
  color: #469065;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li {
  text-decoration: none;

  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* banner style */
.banner {
  background-image: url(assets/hero-bg.png);
  width: auto;
  height: auto;
  background-position: center;
  background-size: cover;
  padding: 90px 30px;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 40px;
}
.banner div .frist {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.banner-btn-left span{
    display:flex;
    align-items: center;
    gap: 10px;
}

.banner-btn-right span{
    display:flex;
    align-items: center;
    gap: 10px;

}
.banner div .green {
  margin: 20px 0;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.banner div p {
  color: white;
}
.early-access-btn {
  margin-bottom: 20px;
  background-color: white;
  color: #469065;
  border-radius: 20px;
}

#button-right {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid white;
}

/* main section style */
/* .notes-section {
    border: 1px solid gray;

} */

.notes-section .title {
  text-align: center;
}
.note-container {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
.notes-section .title h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.notes-section .title p {
  color: #469065;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.note-container div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}
.image-container {
  background-color: #f85454;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 100%;
  width: max-content;
  margin: auto;
}
.image-container img {
  /* margin: auto; */
  height: 20px;
}
.note-container div h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.note-container div p {
  color: #469065;
}


/* brain-section */
.brain-image{
    max-width: 50%;
}
.brain-image img{
    max-width: 90%;
}
.brain-content{
    max-width: 50%;
}
.brain-section{
    gap: 50px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.brain-list{
  list-style: none;
  margin: 20px 0;
}
.brain-section-title{
    font-size: 13px;
    color: #469065;
    
}
.brain-section-head{
    font-size: 40px;
    margin: 20px 0;
}
.brain-section-texts{
    color: #627382;
    font-size: 15px;
}
.brain-list span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.brain-list li{
    margin: 5px 0;
}


/* challange part */
.challange{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
    background-color: #F7F6F2;
    padding: 40px 10px;
    border-radius: 10px;
}
.challange div h2{
    font-size: 40px;


}
.challange div p{
    color: #469065;
}
.challange div button span{
    display: flex;
    align-items: center;
}

/* footer */
footer{
    background-color: #001931;
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    
}
footer div{
    margin-bottom: -20px;
}
footer p{
    text-align: center;
    margin-top: 40px;
}
footer hr{
    width: 50%;
    
    margin: 40px auto;
    color: gray;
    opacity: 20%;
    
}
.social{
    display: flex;
    flex-direction: column;
}
.social div{
    display: flex;
    gap: 39px;
    margin-top: 10px;
}
 .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
