* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 100vw;
  margin: 20px 100px;
}
.button {
  background-color: #469065;
  color: white;
  padding: 10px 15px;
  border: 1px solid #469065;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.green {
  color: #469065;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li {
  text-decoration: none;

  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* banner style */
.banner {
  background-image: url(assets/hero-bg.png);
  width: auto;
  height: auto;
  background-position: center;
  background-size: cover;
  padding:90px 30px;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 40px;
}
.banner div .frist {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.banner div .green {
  margin: 20px 0;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.banner div p {
  color: white;
}
.early-access-btn{
    margin-bottom: 20px;
    background-color: white;
    color: #469065;
    border-radius: 20px;
}

#button-right {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid white;
}

/* main section style */
  
